.app-container {
  width: 1000px;
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
